        <footer>
            <div class="container">
                <span class="text-muted text-center"">Copyright &copy Fionn Ross | API for Interacting With Metropolitan Museum of Art Collection API | API Web Application for Capstone Project 4 | <%= new Date().toDateString() %></span>
            </div>
        </footer>
		<script src="/js/jquery-1.12.0.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    </body>
</html>  